<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741318489473-7ok767rnamqmlda72j7fljpmm00u1cnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741318489473-7ok767rnamqmlda72j7fljpmm00u1cnq</string>
	<key>API_KEY</key>
	<string>AIzaSyBYvvcd6ZArMATwunm4eKHoauaw-033qJY</string>
	<key>GCM_SENDER_ID</key>
	<string>741318489473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nattz1fsc</string>
	<key>PROJECT_ID</key>
	<string>z1fsc-template</string>
	<key>STORAGE_BUCKET</key>
	<string>z1fsc-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741318489473:ios:3e617a08fa17c09354e480</string>
</dict>
</plist>
